$font-size-xl: 3rem;
$font-size-lg: 2rem;
$font-size-md: 1rem;
$font-size-sm: .5rem;

/** dark theme */
$dark-theme-1: #0f0f0f;
$dark-theme-2: #162447;
$dark-theme-3: #1f4068;
$dark-theme-4: #84a9ac;
$dark-theme-text-light: #cacaca;
$dark-theme-text-dark: #424242;

/** light theme */
$light-theme-1: #204051;
$light-theme-2: #3b6978;
$light-theme-3: #84a9ac;
$light-theme-4: #e4e3e3;
