:root {
    --global-font-size: 15px;
    --global-line-height: 1.4em;
    --global-space: 10px;
    --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --background-color: #222225;
    --page-width: 60em;
    --font-color: #e8e9ed;
    --invert-font-color: #222225;
    --secondary-color: #a3abba;
    --tertiary-color: #a3abba;
    --primary-color: #62c4ff;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #3f3f44;
    --input-style: solid;
    --display-h1-decoration: none;
}

$font-size-xl: 3rem;
$font-size-lg: 2rem;
$font-size-md: 1rem;
$font-size-sm: .5rem;

/** dark theme */
$dark-theme-1: #0f0f0f;
$dark-theme-2: #162447;
$dark-theme-3: #1f4068;
$dark-theme-4: #84a9ac;
$dark-theme-5: #222222;
$dark-theme-text-light: #cacaca;
$dark-theme-text-dark: #424242;

/** light theme */
$light-theme-1: #204051;
$light-theme-2: #3b6978;
$light-theme-3: #84a9ac;
$light-theme-4: #e4e3e3;
